{% extends "compra_ingressos/layout.html" %}
{% block title %}
Comprar Ingressos
{% endblock %}

{% block content %}
<h3>Jogos Disponíveis para Compra</h3>
<br>
{% if jogos %}
    <ul>
        {% for jogo in jogos %}
            <li>
                <strong>{{ jogo.clubeCasa.nomeClube }} X {{jogo.clubeFora.nomeClube}}</strong><br>
                Id: {{jogo.id}}<br>
                Data: {{ jogo.data }}<br>
                Horário: {{ jogo.hora }}<br>
                Preço: R$ {{ jogo.preco }}<br>
                Estadio: {{jogo.estadio}}<br>
                Cadeiras: {{jogo.numero_cadeiras}}
            </li>
            <hr>
        {% endfor %}
    </ul>

    <form method="POST" class="comprarIngresso-form" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Por favor, insira o id do jogo e o assento desejado a ser comprado:</p>
        <br>
        <label>Id:</label> <input type="number" id="id" name="id" value = {{ jogo.id }} > <br><br>
        <br><br>
        <button type="submit" class="save btn btn-default">Escolher Jogo</button>
    </form>
    
    <section>
        <p type="text" id="resposta" name="resposta"> {{ resposta }} </p> <br><br>
    </section>
    
{% else %}
    <p>Não há jogos disponíveis no momento.</p>
{% endif %}
{% endblock %}