{% extends "compra_ingressos/layout.html" %}
{% block title %}
Comprar Ingressos
{% endblock %}

{% block content %}
<h3>Jogos Disponíveis para Compra</h3>
<br>
{% if jogos %}
    <ul>
        {% for jogo in jogos %}
            <li>
                <strong>{{ jogo.clubeCasa }}, {{jogo.clubeFora}}</strong><br>
                Data: {{ jogo.data }}<br>
                Horário: {{ jogo.hora }}
                Local: {{ jogo.local }}<br>
                Preço: R$ {{ jogo.preco }}<br>
                Estadio: {{jogo.estadio}}<br>
                Cadeiras: {{jogo.numero_cadeiras}}
            </li>
            <hr>
        {% endfor %}
    </ul>
{% else %}
    <p>Não há jogos disponíveis no momento.</p>
{% endif %}
{% endblock %}