{% extends "compra_ingressos/layout.html" %}
{% block title %}
Interface de Login
{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="POST" class="realizarLogin-form" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Por favor ingressar os seus dados de login:</p>
    <br>
    <label>Login (CPF):</label> <input type="text" id="cpfPessoa" name="cpfPessoa"> <br><br>
    <label>Senha:</label> <input type="password" id="senhaConta" name="senhaConta"> <br><br>
    <br><br>
    <button type="submit" class="save btn btn-default">Fazer Login</button>
</form>

<section>
    <p type="text" id="resposta" name="resposta"> {{ resposta }} </p> <br><br>
</section>
{% endblock %}